body {
    background-color: #F2F2F2;
    margin: 20px;
}
header {
    border: 1px solid #ccc;
    color: #4F5B93;
    text-align: center;
    background-color: #fff;
    font-family: times roman, serif;
    margin-bottom: 10px;
    padding: 10px;
}
header > h1 {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 72px;
    margin-top: 20px;
    margin-bottom: 0;
}
#quote {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 60%;
}
p.quote {
    color: #000;
    font-style: italic;
    text-align: left;
    margin-bottom: 0;
}
p.author{
    color: #000;
    text-align: right;
    margin-right: 60px;
}
nav {
    float: left;
    width: 150px;
    font-family: arial, sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
}
nav > a {
    display: block;
    border: 1px dotted #777;
    color: #808;
    background-color: #ABE;
    text-decoration: none;
    margin-top: 5px; margin-bottom: 5px;
    padding: 4px;
    text-align: center;
}
nav > a:hover {
    color: #ABE;
    background-color: #808;
}
main {
    font-family: arial, sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 10px; margin-left: 182px;
    padding: 10px;
}
main > h1 {
    color: #007;
}
main > h2 {
    font: 20px/40px verdana, arial, helvetica, sans-serif;
    font-weight: 500;
    color: #F90;
    background: transparent;
    margin: 0px;
}
main > p {
    font: 12px/20px verdana, arial, helvetica, sans-serif;
    margin: 0px 0px 16px 20px;
    padding: 0px;
}
main a, main a:visited {
    text-decoration: none;
    color: #636;
    font-weight: bolder;
}
footer {
    clear: both;
    text-align: center;
}
footer > p.hostedby {
    border: 1px solid #bbb;
    background-color: #ddd;
    margin-top: 10px;
    padding: 5px;
    line-height: 30px;
}
footer > p.validation {
    margin-top: -10px;
}
footer > p.validation > a {
    font-family: arial, sans-serif;
    font-size: 12px;
    color: #777;
    padding: 0 5px 0;
    text-decoration: none;
}
