body {
    margin: 50px 50px 50px 50px;
    color: #000000;
    background-color: #ffffff;
}
a {
    color: #f26928;
    background-color: #ffffff;
    text-decoration: none;
}
:visited {
    color: #f26928;
    background-color: #ffffff;
    text-decoration: none;
}
h1 {
    text-align: center;
    color: #aa7700;
    background-color: #ffffff;
    font-size: xx-large;
}
img {
    border: 0;
}
p {
    text-align: justify;
    margin: 20px 20px 20px 20px;
}
.copyleft {
    text-align: center;
    font-size: small;
}
.heading {
    width: 100%;
}
.side {
    width: 138px;
    text-align: center;
}
.middle {
    text-align: center;
}
h3 {
    text-align: center;
}
table.contrib {
    vertical-align: middle;
    text-align: center;
    width: 70%;
}
td.contribpic {
    width: 25%;
}
#spechover a:hover {
    color: #0000CC;
    background-color: #ffffff;
    text-decoration: underline;
}
.selected {
    color: #000000;
    background-color: #ffffff;
}
