.social {
    position: fixed; 
    left: 0;
    top: 71%;
    z-index: 3;
}
.social ul {
    list-style: none;
}
.social ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}
.social ul li .icon-facebook {
    background:#3b5998;
}
.social ul li .icon-twitter {
    background: #00abf0;
}
.social ul li .icon-googleplus {
    background: #d95232;
}
.social ul li .icon-instagram {
    background: #ae181f;
}
.social ul li .icon-mail {
    background: #666666;
}

.social ul li a:hover {
    background: #000; 
    padding: 10px 30px;
}

@media screen and (max-width: 715px) {
.social {
    display: none;        
}    
}
