#blog { 
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1500px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    z-index: 1;
}
#blog article {
    background: hsl(0,0%, 97%);
    margin-top: 0;
    padding: 5px;
    width: 290px;

}
#blog img {
    width: 100%;
    max-width: 290px;
    height: 250px;
}
#blog h4 {
    text-align: center;   
}
#blog p {
    color: hsl(0,0%, 30%);
    padding: 5px;
    text-align: justify;
    text-indent: 20px;
}

@media screen and (max-width: 1260px) {
#blog {
    margin-right: 10px;
}    
    
}
