footer {
    display: flex;
    background: black;
    padding: 8px;
    z-index: 4;
    position: absolute;
}
footer .footer_container {
    display: flex;
    flex-wrap: wrap;
}
footer .copy {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;  
    color: gray;
}
footer .social2 {
    margin-right: 5px;    
}
footer .social2 a {
    background-color: #333;
    color: #fff;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    transition: all 0.5s ease;
}
footer .social2  a:hover {
    transform: scale(1) rotate(360deg);
}
footer .social2 .icon-facebook {
    color: #3b5998;
}
footer .social2 a:hover.icon-facebook {
    background-color: #3b5998;
    color: #fff;
}
footer .social2 .icon-twitter {
    color: #00abf0;
}
footer .social2 a:hover.icon-twitter {
    background-color: #00abf0;    
    color: #fff;
}
footer .social2 .icon-google-plus3 {
    color: #e74c3c;
}
footer .social2 a:hover.icon-google-plus3 {
    background-color: #e74c3c;
    color: #fff;
}

@media (min-width:768px) {
footer .social2 {
    width: auto;
}
}
@media (min-width:1024px) {
footer .footer_container {
    width: 1500px;
}    
}

