header {
    width: 100%;
    z-index: 3;
    position: fixed;
    margin-top: 0px;
}

.menu_bar {
    display: none;    
}

header nav {
    background: rgba(0,0,0, .9);
    z-index: 3;
    position: fixed;
    text-align: center;
    width: 100%;
}
   
header nav ul {
    list-style:none;
}
    
header nav ul li {
    display:inline-block;
    position: relative;
}
     
header nav ul li:hover {
    background:#E6344A;
}
      
header nav ul li a {
    color:#fff;
    display:block;
    text-decoration:none;
    padding: 15px;
}
       
header nav ul li a span {
    margin-right: 20px;
}
        
header nav ul li:hover .children {
    display:block;
}
         
header nav ul li .children {
    display: none;
    background:#011826;
    position: absolute;
    width: 100%;
    z-index: 3;
}
          
header nav ul li .children li {
    display:block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
           
header nav ul li .children li a {
    display: block;
}
            
header nav ul li .children li a span {
    position: relative;
    top:3px;
    margin-right:10px;
    margin-left: 0px;
}
             
header nav ul li .caret {
    position: relative;
    top:3px;
    margin-left:10px;
    margin-right:0px;
}

@media all and (min-width : 716px) {
header nav {
    left: 0 !important;    
 }
}
              
@media screen and (max-width: 715px) {
.menu_bar {
    display:block;
    width:100%;
    position: fixed;
    top: 0;
    background: black;
}
                    
.menu_bar .bt-menu {
    display: block;
    padding: 15px;
    color: #fff;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
                     
.menu_bar span {
    float: right;
    font-size: 30px;
}
                      
header nav {
    background: black;
    top: 0;
    width: 85%;
    height: calc(100% - 80px);
    position: fixed;
    right: 100%;
    margin: 0;
    overflow: scroll;
}
                       
header nav ul li {
    display: block;
    border-bottom:1px solid rgba(255,255,255,.5);
}
                        
header nav ul li a {
    display: block;
}
                         
header nav ul li:hover .children {
    display: none;
}
                          
header nav ul li .children {
    width: 100%;
    position: relative;
}
                           
header nav ul li .children li a {
    margin-left: 20px;
}
                            
header nav ul li .caret {
    float: right;
 }
}
