* {
box-sizing: border-box;
}
 
body {
    font-family: oswald, helvetica, arial, sans-serif;
    background: url(http://www.grandessoluciones.com/wp-content/uploads/Capitolio-Washington.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
  
.contenedor {
    width: 100%;
    max-width:1000px;
    margin:auto;
}
   
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,.8);
}
 

/*Initial text */
.text {
    padding: 200px 0;
    text-align: center;
    color:#fff;
    position: relative;
    font-weight: 400;
    z-index: 4;
}
           
.text h2, .text p {
    background: rgba(0,0,0,.8);
    display:inline-block;
    padding:10px 20px;
}
            
.text h2 {
    font-size:40px;
    letter-spacing: 2.5px;
    font-weight: normal;
}
             
.text p {
    font-size:20px;
    letter-spacing: 2.5px;
}
              
/* Principal */
.principal {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding: 3px;
    position: relative;
    color:#000;
    z-index: 4;
}
               
.principal article {
    padding:20px;
    background: hsl(0,0%, 97%);
    margin-bottom: 20px;
}
                
.principal article p {
    margin-bottom: 20px;
    line-height:24px;
    font-family:helvetica, arial, sans-serif;
}
                 
.principal article .date {
    color:#939393;
}
@media screen and (max-width: 700px) {
body {
    padding-top: 60px;
}
.principal {
    margin-right: 15px;
}
}
footer {
    text-align: center;
    background: #000;
    position: fixed;
    width: 100%;
    margin: auto;
}
