@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

.nav {
    position: fixed;
    z-index: 100;
    left: 0em;
    top: 40%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.nav li {
    list-style: none;
    margin: .5em;
}
.nav a {
    display: inline-block;
    padding: .5em 1em;
    color: #fff;
    border-radius: 5px;
    background: rgba(0,0,0,.6);
    text-decoration: none;
    font-family: 'Kaushan Script', cursive;
    font-size: 16px;
}
.nav a:hover {
    color: red;
}

