#info {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
#info .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-lam {
    margin: 25px; 
}
.info-lam img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 7px solid #fff;

    -webkit-transition: all 150ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 150ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 150ms ease-in;
    -moz-transform: scale(1);
    transition: all 150ms ease-in;
    transform: scale(1);
}
.info-lam img:hover {
    box-shadow: 0px 0px 150px gray;
    z-index: 1;
    -webkit-transition: all 150ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 150ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 150ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 150ms ease-in;
    transform: scale(1.5);
}

@media (min-width:480px) {
.info-lam {
    width: 40%;    
}    
}
@media (min-width:1024px) {
.info-lam {
    width: auto;    
}
}
