footer {
    display: flex;
    background: rgba(0,0,0,.6);
    padding: 8px;
}
footer .footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer .copy {
    font-size: 20px;    
}
footer .social a {
    background-color: #333;
    color: #fff;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    transition: all 0.5s ease;
}
footer .social  a:hover {
    transform: scale(1) rotate(360deg);
}
footer .social .icon-facebook {
    color: #3b5998;
}
footer .social a:hover.icon-facebook {
    background-color: #3b5998;
    color: #fff;
}
footer .social .icon-twitter {
    color: #00abf0;
}
footer .social a:hover.icon-twitter {
    background-color: #00abf0;    
    color: #fff;
}
footer .social .icon-google-plus3 {
    color: #e74c3c;
}
footer .social a:hover.icon-google-plus3 {
    background-color: #e74c3c;
    color: #fff;
}

@media (min-width:768px) {
footer .social {
    width: auto;
}
footer .footer_container {
    justify-content: space-between;

}
}
@media (min-width:1024px) {
footer .footer_container {
    width: 1500px;
}    
}
