@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

*{
margin: 0;
padding: 0;
}
@font-face {
    font-family:"Myriad Pro";
    src:url(fonts/myriadpro/myriadpro.eot), 
    url(fonts/myriadpro/myriadpro.ttf), 
    url(fonts/myriadpro/myriadpro.woff);
}
ul, ol {
    list-style: none;
}
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav.first_nav {
    width: 100%;
    margin: 0px auto;
    height: 45px;
    overflow: hidden;
    background: #000;
}
.menu {
    width: 85%;
    display: table;
    table-layout: fixed;
    float: left;
    transition: all .5s ease;
    height: 45px;
}
.menu li {
    display: table-cell;
    overflow: hidden;
    width: 100%;

}
.menu li:first-child {
    border-left: none;
}
.menu li:first-child:hover {
    border-left: none;
}
.menu li a {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    display: block;
    font-size: 19px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0,0,0,.3);
}
.menu li a:hover {
    color: #7e7e7e;
}
.menu li:hover {
    background: rgba(0,0,0,.3);
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: none;
}
.menu li:active {
    background: rgba(0,0,0,.3);
    box-shadow: inset 0px 3px 2px rgba(0,0,0,1);
}
.search_bar {
    font-family:"Myriad Pro";
    font-size: 20px;
    width: 14%;
    float: left;
    padding-top: 8px;
    box-sizing: border-box;
    position: relative;
    transition: all .5s ease;
}
.search_bar input {
    width: 90%;
    height: auto;
    border-radius: 50px;
    border: none;
    border-bottom: 1px solid #858585;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 28px;
    padding-right: 10px;
    box-sizing: border-box;
    height: 22px;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,.7);

    background: #7e7e7e; /* Old browsers */
    background: -moz-linear-gradient(top,  #7e7e7e 0%, #797979 50%, #6e6e6e 51%, #767676 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7e7e7e), color-stop(50%,#797979), color-stop(51%,#6e6e6e), color-stop(100%,#767676)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7e7e7e 0%,#797979 50%,#6e6e6e 51%,#767676 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7e7e7e 0%,#797979 50%,#6e6e6e 51%,#767676 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7e7e7e 0%,#797979 50%,#6e6e6e 51%,#767676 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7e7e7e 0%,#797979 50%,#6e6e6e 51%,#767676 100%); /* W3C */
}
.search_bar input:focus {
    background: #fff;
    box-shadow: none;
}
.icon-home {
    display: block;
    position: relative;
    top: 2px;
}
.icon-search {
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
    color: #fff;
    text-decoration: none;
}
