main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 1px dotted #777;
}
.header {
    width: 300px;
    height: 25px;
    background-color: #5A68A5;
    border-radius: 10px;
}
img {
    width: 200px;
    float: right;
}
h1 {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}
p {
    font-family: Tahoma, sans-serif;
}
li {
    font-family: Tahoma, sans-serif;
    list-style-type: square;
}
input {
    width: 280px;
}
footer {
    text-align: center;
    margin-top: 10px;
}
footer > a, footer > a:visited {
    text-decoration: none;
}
