*{
    box-sizing: border-box;
}
body {
    background-color: #fff8dc;
    font-family: oswald;    
    margin: auto;
}
header {
    margin-top: -20px;
    position: fixed;    
    z-index: 1000;
}
.menu_bar {
    display: none;    
}
header nav {
    background: hsl(0,0%, 97%);
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1000;
}
/*.menu_bar:checked + nav {
    -webkit-animation-name: example; 
    -webkit-animation-duration: 3s; 
    animation: example 2s forwards;
    left:-100% ;
}
@-webkit-keyframes example {
    0%   {right: 10%;}
    100%  {left: 100%;}
    100% {visibility: hidden;}
}


@keyframes example {
    0%   {right: 10%}
    100% {right: 100%}
    100% {visibility: hidden;}
}*/
header nav ul {
    list-style: none;    
}
header nav ul li {
    display: inline-block;
    position: relative;
}
header nav ul li a {
    color: #555;
    display: block;
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
}
header nav ul li a span {
    margin-right: 10px; /*separate the icons from the nav links*/
}
header nav ul li:hover {
    background: #523fb6;
    border-radius: 5px;
}
header nav ul li .children li {
    border-bottom: 1px solid rgba(255,255,255,.5);
    display: block;
    overflow: hidden;
}
header nav ul li .children li a {
    color: #fff;
    display: block;
    font-size: 15px;
    margin-right: 15px;
}
/* This config is only if we want to add icons to the children*/
header nav ul li .children li a span {
    float: right;
    position: relative;
    top: 3px;
    margin-right: 2px;
    margin-left: 50px;
}
header nav ul li .scroll {
    position: relative;
    top: 3px;
    margin-left: 60px;
    margin-right: 0px;
}
header nav ul li:hover .children {
    display: block;
}
header nav ul li .children {
    background: #777c8a;
    display: none;
    position: absolute;
    width: 200%;
    z-index: 1000;
}

/*INITIAL TEXT, H2, P*/
.text {
    font-weight: normal;
    padding: 10px;
    position: relative;
    text-align: center;
/*FLEXBOX*/    
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;
}
.text h2 {
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    height: 100%;
    letter-spacing: 2.5px;
}
.text h2, .text p {
    background: #838895;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    width: 100%;
}
.text p {
    color: #fff;
    font-size: 20px;
    height: 100%;
    letter-spacing: 2.5px;
    padding: 10px;
    width: 100%;
}

/* Banged out by Kevin cole [kevin.cole@novawebcoop.org] 2014.10.23
 *
 * OMG! Just stack all five images on top of one another and change
 * the transparency levels with CSS animation!
 *
 * http://www.w3schools.com/cssref/pr_pos_z-index.asp
 * http://www.w3schools.com/cssref/tryit.asp?filename=trycss_anim_z-index
 * http://themarklee.com/2013/10/16/simple-crossfading-slideshow-css/
 * http://css3.bradshawenterprises.com/cfimg/
 *
 * image    width: 640px;    height: 480px;
 *
 */

#slides {
    border: 1px solid #888888;
    box-shadow: 10px 10px 5px #888888;
    height: 34vw;
   /* margin: 2.6vw 2.6vw;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 40%;
    position: relative;
    display: flex;
}
@keyframes slip {
0% {
    opacity: 1;
}
13% {
    opacity: 1;
}
17% {
    opacity: 0;
}
97% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.stacked {
    animation: 60s ease-in-out 0s normal none infinite running slip;
    display: block;
    height: 100%;
    max-width: 100%;
    position: absolute;
}
#slide1 {
    animation-delay: 50s;
}
#slide2 {
    animation-delay: 40s;
}
#slide3 {
    animation-delay: 30s;
}
#slide4 {
    animation-delay: 20s;
}
#slide5 {
    animation-delay: 10s;
}
#slide6 {
    animation-delay: 0s;
}

.container {
    background: #ccc;    
    width: 95%;
    max-width: 10000px;
    margin: auto;
/*FLEXBOX*/
    display: flex;
    flex-flow: row wrap;
}
.mainbox {
    background: #fff;
    padding: 20px;
    flex: 1 1 60%;
}
.mainbox article {
    border-bottom: 1px solid #000;/*To add a line at the bottom*/
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.mainbox article h2 {
    font-size: 25px;    
}
aside {
    padding: 5px;
/*FLEXBOX*/
    flex: 1 1 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
aside .widget {
    background: #8f6786;    
    height: 260px;
    margin: 10px;
}
aside .widget article h2 {
    font-size: 20px;
    text-align: center;    
}
aside .widget article p {
    margin: 10px;
    text-align: justify;
}
footer {
    background: #b6b5b5;
    padding: 1px;
    width: 100%;
/*FLEXBOX*/
    display: flex;
    flex-wrap: wrap;
}
footer .links {
    background: #b6b5b5;
    margin-left: auto;
    margin-right: auto;
/*FLEXBOX*/
    display: flex;
    flex-wrap: wrap;
}
 
footer .links a {
    color: #fff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    flex-grow: 1; 
}
footer .links a span {
    margin-right: 5px;    
}
 
footer .links a:hover {
    background: #523fb6;
}
@media screen and (min-width: 700px) {
header nav {
    left: 0 !important;
}
}
@media screen and (max-width: 700px) {
body {
    padding-top: 80px;
}
.menu_bar {
    background: #000;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
}
.menu_bar .bt-menu {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    padding: 20px;
    text-decoration: none;
}
.menu_bar span {
    float: right;
    font-size: 30px;
}
header nav {
    margin: 0;
    overflow: scroll;
    position: fixed;
    right: 100%;
    width: 95%;

}
header nav ul li {
    border-bottom: 1px solid rgba(255,255,255,.5);
    display: block;
}
header nav ul li a {
    display: block;
}
header nav ul li:hover .children {
    display: none;
}
header nav ul li .children {
    position: relative;
    width: 100%;
}
header nav ul li .children li a {
    margin-left: 20px;
}
header nav ul li .scroll {
    float: right;
 }
#slides {
    margin: auto;
}

}

@media screen and (max-width: 800px) {
.container {
    flex-direction: column;
}
aside {
    flex-direction: row;
    flex: 0;
}
aside .widget {
    flex-grow: 1;
}
} 
@media screen and (max-width: 600px) {
aside {
    flex-direction: column;
}
footer {
    justify-content: center;
}
}
