.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 8;    
    width: 2000em;

    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in; /*ease-in;, ease-out;, step-start;, steps(4);, linear;,*/
}
.slider li {
    width: 100%;
    list-style: none;    
}
.slider img {
    width: 100%;    
    height: 600px;
}
@keyframes cambio {
    0% { margin-left: 0; }    
    20% { margin-left: 0; }

    25% { margin-left: -100%; }    
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }    
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }    
    100% { margin-left: -300%; }

}
