body {
     background-color: #FFE4C4;
     margin: 40px;
}
main {
     background-color: #FFF8DC;
     padding: 20px;
}
h1 {
   text-align: center;
   color: #000;
}
h1, footer {
     text-align: center;
}
footer {
      margin-top: 20px;
}
footer {
   text-align: center;
   color: #000;
}
a:link, a:visited {
      color: #000;
      text-decoration: none;
}
b {
      color: #800000;
}   
strong {
      color: #D2691E;
}