<!--
A:link {COLOR: red; TEXT-DECORATION: none}
A:visited {COLOR: gray; TEXT-DECORATION: none}
A:active {TEXT-DECORATION: none}
A:hover {COLOR: blue; TEXT-DECORATION: underline} -->

h1 {
   text-align: center;
   color: #F90;
}
body {
background-color: #FCBDA4;
text-align: center;
}
p.app {
   text-align: center;
}