<!--
A:link {COLOR: blue; TEXT-DECORATION: none}
A:visited {COLOR: gray; TEXT-DECORATION: none}
A:active {TEXT-DECORATION: none}
A:hover {COLOR: red; TEXT-DECORATION: underline} -->

h1 {
   text-align: center;
   color: #F80;
}
p.elsalvador {
   text-align: center;
}
body {
background-color: #E6CBC1;
text-align: center;

}