<!--
a:link {color: red; text-decoration: none}
a:visited {color: blue; text-decoration: none}
a:active {text-decoration: none}
a:hover {color: red; text-decoration: underline} -->

h1 {
   text-align: center;
   color: #F30;
}
body {
background-color: #DFDAC2;
}
p.elsalvador {
   text-align: center;
}