<!--
A:link {COLOR: green; TEXT-DECORATION: none}
A:visited {COLOR: gray; TEXT-DECORATION: none}
A:active {TEXT-DECORATION: none}
A:hover {COLOR: blue; TEXT-DECORATION: underline} -->

h1 {
   text-align: center;
   color: #F80;
}
body {
background-color: #BDE0AF;
text-align: center;
}
p.elsalvador {
   text-align: center;
}