body {
    background: #9088ba;
    margin: 60px;
}
h1 {
    text-align: center;
    color: #07d9fe;
}
p.dreamers {
    text-align: center;
}
a {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: purple;
}
a:hover {
    color: black;
    text-decoration: underline;
}