body {
	background:#9999cc;
	margin: 60px;
}
h1 {
	text-align: center;
	color: #1831d4;
}
p.dreamers {
	text-align: center;
}
a {
	color: blue;
	text-decoration: none;
}
a:visited {
	color: purple;
}
a:hover {
   	color: black;
   	text-decoration: underline;
}
