body {
	background:#a0d9e1;
	margin: 60px;
}
h1 {
    text-align: center;
    color: #1831d4;
}
p.dreamers {
    text-align: center;
}
a {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: purple;
}
a:hover {
   	color: black;
   	text-decoration: underline;
}
table {
	width: 100%
}
th, td {
    border: 1px solid black;
}
footer {
    text-align: center;
    margin-top: 30px;
}
