body {
	background:#aabbd5;
	margin: 60px;
}
h1 {
	text-align: center;
	color: #064eba;
}
p.dreamers {
	text-align: left;
}
a {
	color: blue;
	text-decoration: none;
}
a:visited {
	color: purple;
}
a:hover {
   	color: black;
   	text-decoration: underline;
}
