@import url(http://fonts.googleapis.com/css?family=Tangerine);

body{
    margin: 40px;
    padding: 50px;
    background-color: #fff8dc;
    font-family: 'Tangerine', serif;
    font-size: 50px;

}

h1{
    text-align: center;
    color: #000;
}
