* {
padding:0;
margin:0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
 
body {
    background:#fefefe;
}
 
.bar_menu {
    display: none;
}
 
header {
    width: 100%;
}
 
header nav {
    background: #023859;
    z-index: 1;
    max-width: 2000px;
    width: 95%;
    margin: 0 auto;
}
 
header nav ul {
    list-style: none;
}
 
header nav ul li {
    display: inline-block;
    position: relative;
}
 
header nav ul li:hover {
    background: #e6344a;
}
 
header nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 20px;
}
 
header nav ul li a span {
    margin-right: 10px;
}
 
header nav ul li:hover .children {
    display: block;
}
 
header nav ul li .children {
    display: none;
    background: #011826;
    position: absolute;
    width: 250%;
    z-index: 1;
}
 
header nav ul li .children li {
    display:block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .children li a {
    display: block;
}
 
header nav ul li .children li a span {
    float: right;
    position: relative;
    top: 2px;
    margin-right: 0;
    margin-left: 10px;
}
 
header nav ul li .caret {
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0px;
}
 
@media screen and (max-width: 800px) {
body {
    padding-top: 80px;
}
 
.bar_menu {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    background: #E6344A;
}
 
.bar_menu .bt-menu {
    display: block;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
 
.bar_menu span {
    float: right;
    font-size: 40px;
}
 
header nav {
    width: 80%;
    height: calc(100% - 80px);
    position: fixed;
    right: 100%;
    margin: 0;
    overflow: scroll;
}
 
header nav ul li {
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li a {
    display: block;
}
 
header nav ul li:hover .children {
    display: none;
}
 
header nav ul li .children {
    width: 100%;
    position: relative;
}
 
header nav ul li .children li a {
    margin-left: 20px;
}
 
header nav ul li .caret {
    float: right;
}
}
