body {
    margin: 40px;
    padding: 40px;
    background-color: #d3d3d3;
    font-family: 'Tangerine', serif;
    font-size: 25px;
    text-align: center;
    color: #66cccc;
    text-shadow: 4px 4px 4px #aaa;
    background-image: url(h2.gif);
    background-size: 300px;
    background-position: left;
}
h1 {
    font-family: 'Tangerine', serif;
    text-align: center;
    color: #66cccc;
}
h2 {
    text-align: center;
    color: #ffff99; 
}
ul, a {
    color: #ffff99;
}
.first {
    text-decoration: line-through;
}
footer {
    text-align: center;
    color: #f8f8f8;
}
footer a, footer a:visited {
    color: #66cccc;
    text-decoration: none;
    padding: 10px;
    border: 1px dashed #000;
}
