body {
    margin: 60px;
}
h1 {
    color: #007;
    background-color: #eee;
    text-align: center;
    font-style: normal;
}
h2 {
    margin-left: -00px;
    color: #049;
}
p {
    text-align: justify;
    font-size: large;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: large;
    line-height: 24px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
th {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    background-color: #AFEEEE;
    color: #007;    
    text-align: left;   
}
td {
    border-bottom: 1px solid #BBB;
    background-color: #EEE;
    color: #000;
}
td, th {
    padding: 0.2em 0.5em 0.2em 0.5em;
} 
td+td, th+th {
    border-left: 1px solid #BBB;
}
a:link, a:visited {
    color: #007;
    font-weight: bold;
    text-decoration: none;
}
footer {
    text-align: center;
    margin-top: 50px;
}
footer a {
    display: inline;
    margin-right: 10px;
    width: 50px;
    padding: 1px;
    font-size: 9px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #007;
    background-color: #DDD;
    border: 1px solid black;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}
footer a strong {
    font-weight: bold;
    color: #FFF;
    background-color: #007;
    padding-left: 2px;
    margin-right: 5px;
}
footer a:hover {
    color: #FFF;
    background-color: #007;
}
footer a:hover strong {
    color: #007;
    background-color: #DDD;
}