
/* @media screen and (max-width: 800px) {
header nav {
    width: 80%;
    height: 100%;
    margin: 0;
    position: fixed;
}
header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba (255,255,255, .3)
}
}*/

   /*--HTML--*/
  body {
        margin: 0;
        padding: 0;
}
   body {
        width: 90%;
        margin: 10px auto;
        background: #fff;
        border: 1px solid #BFBFBF;
        font-family: Arial, Helvetica, Verdana, sans-serif;
}
   /*--BANNER--*/
   header {
        width: 100%;
}
   header q {
        color: #1D4781;
        float: left;
        margin-left: 50px;
        margin-top: 40px;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 5px;
        width: 380px;
        display: block;
}
   header img {
        height: 150px;
        float: right;
        display: block;
}

   /*--NAV--*/
   nav {
        background: linear-gradient(#0047B3, #003380);
        border-top: 1px solid #BFBFBF;
        border-bottom: 1px solid #BFBFBF;
        height: 50px;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        clear: both;
}
   nav a {
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        font-size: 22px;
        color: white;
}
   nav a:hover {
        background: #cc9900;
        border-radius: 15px;
}
   /*--SIDEBAR--*/
   #sidebar {
      float: left;
      width: 350px;
      background: #F2F2F2;
      border: 1px solid #BFBFBF;
      margin: 2px;
}
   #sidebar ul {
      padding: 12px;
}
   #sidebar ul li {
      font-size: 14px;
      border-bottom: 1px solid #D9D9D9;
      padding: 3px;
}

   #sidebar h2 {
      color: #000;
      background-color: #cc9900;
      font-size: 20px;
      font-family: Ubuntu;
      font-weight: bold;
      padding: 5px;
      text-align: center;
      margin: 0px;
}
   /*--CONTAINERS--*/
   main {
      display: flex;
      font-size: 16px;
      font-family: Ubuntu;
}

   #col1 {
      float: left;
      width: 400px;
      background: #F2F2F2;
      border: 1px solid #BFBFBF;
      margin: 2px;
      padding: 2px;
}
   #col2 {
      float: left;
      width: 400px;
      background: #F2F2F2;
      border: 1px solid #BFBFBF;
      margin: 2px;
      padding: 2px;
}
   /*--CONTAIN--*/
   .greybox {
      background: linear-gradient(#F2F2F2,#CCCCCC);
      margin: 2px;
      padding: 2px;
      border: 1px solid #BFBFBF;
}
   .bluebox {
      background: linear-gradient(#ADB9CA,#9FADC1);
      margin:2px;
      padding: 2px;
      border: 1px solid #BFBFBF;
}

   .greybox p.bold {
      font-weight: bold;
      margin-bottom: 4px;
      margin-right: 2px;
      margin-left: 2px;
}

   .greybox h2 {
      text-align: center;
      font-size: 25px;
      background-color: #cc9900;
      letter-spacing: 1px;
      margin: 0px;
}
   .bluebox h2 {
      text-align: center;
      font-size: 25px;
      background-color: #cc9900;
      letter-spacing: 1px;
      margin: 0px;
}

   .slideshow h2 {
      text-align: center;
      font-size: 25px;
      letter-spacing: 1px;
      margin-bottom: 4px;
      margin-right: 2px;
      margin-left: 2px;
}
   .greybox p {
      margin-bottom: 4px;
      margin-right: 8px;
      margin-left: 8px;
}
   .bluebox p {
      margin-bottom: 4px;
      margin-right: 8px;
      margin-left: 8px;
}
   /*--FOOTER--*/
   #footer {
        clear: both;
        border: 1px solid #BFBFBF;
        background: #F2F2F2;
        padding: 5px;
        margin: 2px;    
}

   #footer ul {
        list-style-type: none;

}
   #footer ul li {
        margin: 1px;
        text-align: center;
        display: inline-block;
}

   #footer ul li a {
        display: block;
}
   #footer p {
        font-size: 12px;
        font-weight: bold;
        position: relative;
        bottom: 10px;
}
