* {
box-sizing: border-box;
}
 
body {
    font-family: oswald, helvetica, arial, sans-serif;
    background: url(http://www.grandessoluciones.com/wp-content/uploads/Capitolio-Washington.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
  
.contenedor {
    width: 100%;
    max-width:1000px;
    margin:auto;
}
   
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,.8);
}
 
header {
     width: 100%;
     z-index: 1000;
     position: fixed;
     margin-top: -40px;
}

header nav {
      background: #000;
      z-index: 1000;
      position: fixed;
      text-align: center;
      width: 100%;
}
   
header nav ul {
    list-style:none;
}
    
header nav ul li {
    display:inline-block;
    position: relative;
}
     
header nav ul li:hover {
    background:#E6344A;
}
      
header nav ul li a {
    color:#fff;
    display:block;
    text-decoration:none;
    padding: 15px;
}
       
header nav ul li a span {
    margin-right: 20px;
}
        
header nav ul li:hover .children {
    display:block;
}
         
header nav ul li .children {
    display: none;
    background:#011826;
    position: absolute;
    width: 100%;
    z-index:1000;
}
          
header nav ul li .children li {
    display:block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
           
header nav ul li .children li a {
    display: block;
}
            
header nav ul li .children li a span {
    position: relative;
    top:3px;
    margin-right:10px;
    margin-left: 0px;
}
             
header nav ul li .caret {
    position: relative;
    top:3px;
    margin-left:10px;
    margin-right:0px;
}
              
@media screen and (max-width: 700px) {
body {
    padding-top: 80px;
}
                   
.menu_bar {
    display:block;
    width:100%;
    position: fixed;
    top: 0;
    background:#E6344A;
}
                    
.menu_bar .bt-menu {
    display: block;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
                     
.menu_bar span {
    float: right;
    font-size: 40px;
}
                      
header nav {
    width: 100%;
    height: calc(100% - 80px);
    position: fixed;
    right:100%;
    margin: 0;
    overflow: scroll;
}
                       
header nav ul li {
    display: block;
    border-bottom:1px solid rgba(255,255,255,.5);
}
                        
header nav ul li a {
    display: block;
}
                         
header nav ul li:hover .children {
    display: none;
}
                          
header nav ul li .children {
    width: 100%;
    position: relative;
}
                           
header nav ul li .children li a {
    margin-left:20px;
}
                            
header nav ul li .caret {
    float: right;
 }
}

/*Initial text */
.text {
    padding:200px 0;
    text-align: center;
    color:#fff;
    position: relative;
    font-weight: 400;
}
           
.text h2, .text p {
    background: rgba(0,0,0,.8);
    display:inline-block;
    padding:10px 20px;
}
            
.text h2 {
    font-size:40px;
    letter-spacing: 2.5px;
    font-weight: normal;
}
             
.text p {
    font-size:20px;
    letter-spacing: 2.5px;
}
              
/* Principal */
.principal {
    text-align: center;
    position: relative;
    color:#000;
}
               
.principal article {
    padding:20px;
    background:#fff;
    margin-bottom: 20px;
}
                
.principal article p {
    margin-bottom: 20px;
    line-height:24px;
    font-family:helvetica, arial, sans-serif;
}
                 
.principal article .date {
    color:#939393;
}
footer {
    text-align: center;
    background: #000;
    position: fixed;
    width: 100%;
    margin: auto;
}
