*{
    box-sizing: border-box;
}
body {
    background-image: url(http://www.grandessoluciones.com/wp-content/uploads/Capitolio-Washington.jpg); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: oswald;    
    margin-left: -1.5px;
    margin-top: -1px;
}
.container {
    max-width: 1000px;
    margin: auto;
    width: 95%;
}
#particles-js {
    background: rgba(0,0,0,.8);
    height: 100%;
    position: fixed;
    width: 100%;
}
header {
    font-size: 18px;
    margin-top: -40px;
    position: fixed;    
    z-index: 1000;
}
header nav {
    background: #000;
   /* height:;*/
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1000;
}
header nav ul li {
    display: inline-block;
    position: relative;
}
header nav ul li:hover {
    background: #E6344A;
}
header nav ul li a {
    color: #fff;
    display: block;
    padding: 15px;
}
header nav ul li a span {
    margin-right: 40px;
}
header nav ul li:hover .children {
    display: block;
}
header nav ul li .children {
    background: #011826;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
header nav ul li .children li {
    border-bottom: 1px solid rgba(255,255,255,.5);
    display: block;
    overflow: hidden;
}
header nav ul li .children li a {
    display: block;
}
header nav ul li .children li a span {
    margin-right: 10px;
    position: relative;
    top: 3px;
}
header nav ul li .caret {
    margin-left: 10px;
    position: relative;
    top: 3px;
}
@media screen and (max-width: 700px) {
body {
    padding-top: 90px;
}
.menu_bar {
    background: #E6344A;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
}
.menu_bar .bt-menu {
    color: #fff;
    display: block;
    font-size: 25px;
    font-weight: bold;
    overflow: hidden;
    padding: 20px;
    text-decoration: none;
}
.menu_bar span {
    float: right;
    font-size: 50px;
}
header nav {
    margin: 0;
    overflow: scroll;
    position: fixed;
    right: 100%;
    width: 100%;

}
header nav ul li {
    border-bottom: 1px solid rgba(255,255,255,.5);
    display: block;
}
header nav ul li a {
    display: block;
}
header nav ul li:hover .children {
    display: none;
}
header nav ul li .children {
    position: relative;
    width: 100%;
}
header nav ul li .children li a {
    margin-left: 20px;
}
header nav ul li .caret {
    float: right;
 }
}
/*INITIAL TEXT, H2, P*/
.text {
    color: #fff;
    font-weight: 400;
    padding: 200px 0;
    position: relative;
    text-align: center;
}
.text h2, .text p {
    background: rgba(0,0,0,.8);
    display: inline-block;
    padding: 10px 20px;
}
.text h2 {
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 2.5px;
}
.text p {
    font-size: 20px;
    letter-spacing: 2.5px;
}
/*PRINCIPALI, ARTICLE, P*/
.principal {
    text-align: center;
    position: relative;
    color: #000;
}
.principal article {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
}
.principal article p {
    font-family: helvetica, arial, sans-serif;
    line-height: 24px;
    margin-bottom: 20px;
}
.principal article .date {
    color: #939393;
}
/*SOCIAL BAR, AND FOOTER*/
.social {
    margin-left: -5;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
}
.social ul {
    list-style: none; 
}
.social ul li a {
    background: #000;    
    color: #fff;
    display: inline-block;
    padding: 8px 12px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.social ul li .icon-facebook {
    background: #3b5998;    
}
.social ul li .icon-twitter {
    background: #00abf0;    
}
.social ul li .icon-instagram{
    background: #d95232;    
}
.social ul li .icon-mail {
    background: #666666;    
}
.social ul li a:hover {
    background: #000; 
    padding: 10px 30px; 
}
footer {
    background: #000;
    margin: auto;
    position: fixed;
    text-align: center;
    width: 100%;
}
