@font-face {
	font-family: 'SnowtopCaps';
	src: url(snowtopcaps.oft);
}
body {
	background-color: #060;
}
h1 {
	text-align: center;
	background-color: #FFF;
	padding: 2vw;
	margin: 0;
	border-radius: 40%;
	border: 1vw solid #FF0C10;
	font-family: 'SnowtopCaps';
	font-weight: normal;
	font-size: 6vw;
}

 main { 
	display: block; 
	position: relative; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 2vw; 
	width: 84vw; 
	height: 55vw; 
	background-image: url(https://mcnickmilestone.files.wordpress.com/2011/12/christmas-green-red-share-market.jpg); 
	background-size: 100%; 
	background-repeat: no-repeat; 
	text-align: center; 
}
div.song {
	position: absolute;
	width: 28vw;
	background-color: #000;
	color: #FF0;
	opacity: 0.5;
	border-radius: 20%;
	margin-top: 15vw;
	margin-left: 37vw;
	padding: 2vw;
 	font-size: 1.3vw;
     	font-weight: bold;
}
  footer {
     	text-align: center;
      	font-size: 1.5vw;
}
  footer a, footer a:visited {
      	text-decoration: none;
      	color: #EFB030;
}
