@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Tangerine);

*{margin: 0; padding: 0;}
header {
    font-family: 'Roboto', sans-serif;
    text-shadow: 3px 3px 3px #b1c7d0;
    font-size: 60px; 
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    background: #252932;
    margin-bottom: 20px;
}
.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header .logo {
    color: #f2f2f2;
    font-size: 50px;
    line-height: 100px;
    float: left;
}
header nav{
    float: right;
    line-height: 100px;
    text-shadow: 2px 2px 2px #b1c7d0;
}
header nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition:500ms ease;
    -o-transition:500ms ease;
    transition:500ms ease;
}
header nav a:hover {
    background: #f56f3a;
    border-radius: 50px;
}
.header2 {
    position: fixed;
    height: 100px;
}
.header2 .logo {
    line-height: 100px;
    font-size: 30px;
}
.header2 nav {
    line-height: 100px;
}
.contenido {
    margin-bottom: 1em;
}
@media screen and (max-width: 950px) {
header .logo,
header nav {
    width: 100%;
    text-align: center;
    line-height: 100px;
}
.header2 {
    height: auto;
}
.header2 .logo
.header2 nav {
    line-height: 50px;
}
}
h1 {
    font-family: 'Tangerine', serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
    color: #000;
}
h2 {
    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 4px 4px #000;
    font-size: 50px;
}
body { 
    text-align: center;
    background-image: url();
    background-position: center;
    background-size: cover;
    padding: 0px; 
    margin: 0px; 
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}
