@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Audiowide);

*{
margin: 0; 
padding: 0; 
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
header {
    background-image: url("image/1.jpg");
    font-family: 'Roboto', cursive;
    font-size: 40px; 
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    background: #0000cd;
    margin-bottom: 20px;
}
.header2 {
    position: fixed;
    height: 100px;
}
.header2 {
    height: auto;
}
header .logo {
    color: #ebeb3d;
    font-size: 60px;
    text-shadow: 3px 3px 3px #000;
    line-height: 90px;
    float: left;
}
.header2 .logo {
    line-height: 100px;
    font-size: 30px;
}
.header2 .logo {
    line-height: 50px;
}
header nav {
    background-color: #2eb847;
    float: right;
    line-height: 20px;
    text-shadow: 2px 2px 2px #000;
    color: #00ff00;
    border: 5px outset #e0f0ff;
    margin-left: 100px;
}
.header2 nav {
    line-height: 100px;
}
.header2 nav {
    line-height: 50px;
}
header nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: all 500ms ease;
}
header nav a:hover {
    background: #ebd65c;
    border-radius: 50px;
}
.contenido p {
    margin-bottom: 1em;
}
@media screen and (max-width: 950px) {
header .logo,
header nav {
    width: 100%;
    text-align: center;
    line-height: 100px;
}
}
.box {
    margin: 90px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid black;
}
.box p {
    margin: 5%;
    font-weight: bold;
    color: #000;
    position: center;
}
.background {
    background: url() no-repeat;
    background-size: cover;
    border: 2px solid black;
    background-position: center;
}
.form {
    margin: 90px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid black;

}

h1 {
    
    background-color: #2eb847;
    background-size: 100%;
    font-family: 'Roboto', serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
    color: #f2f2f2;
    border: 8px outset #e0f0ff;
}

.social {
position: fixed;
left: 0;
top: 150px;
z-index: 2000px;
}
.social ul {
list-style: none;    
}
.social ul li a {
display: inline-block;
color: #fff;
background: #000;
padding: 10px 15px;
text-decoration: none;
transition: all 500ms ease;
-webkit-transition: all 500ms ease;
-o-transition: all 500ms ease;
}
.social ul li .icon-facebook {
background: #3b5998;
}
.social ul li .icon-twitter {
background: #00abf0;
}
.social ul li .icon-googleplus {
background: #d95232;
}
.social ul li .icon-pinterest {
background: #ae181f;
}
.social ul li .icon-mail {
background: #666666;
}
.social ul li a:hover {
padding: 10px 30px;
background: #000;
}
h2 {
    font-family: 'Roboto', serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
    color: #000;
}
h3 {
    font-family: 'Roboto', serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
    color: #000;
}
body { 
    text-align: center;
    background-image: url();
    background-position: center;
    background-size: cover;
    padding: 0px; 
    margin: 0px; 
    background-color: #e0f0ff;
    font-family: Arial, sans-serif;

}
