@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.container {
    width: 98%;
    margin:  auto;
}
h1 {
    float: left;    
}
header .container {
    display: table;    
}
section {
    width: 100%;
    margin-bottom: 25px;
}
#welcome {
    text-align: center;
}
footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
.copy {
    font-size: 20px;    
}
.social {
    width: 100%;    
    text-align: center;
    font-size: 28px;
}
.social a {
    color: #333;
    text-decoration: none;    
}
@media (min-width:768px) {
.social {
    width: auto;
}
footer .container {
    justify-content: space-between;

}
}
@media (min-width:1024px) {
.container {
    width: 1000px;    
}    
}
