body {
    margin: 0;
    padding: 0;
}

/* header styles */
header {
    box-shadow: inset 0px 0px 1px #fff, 0  2px  7px rgba(0,0,0,0.5);
    display: block;
    width: 99vw;
    height: 15vw;
}
div#aealogo {
    width: 31vw;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2vw;
    margin-top: 1.4vw;
}
div#banner {
    width: 62vw;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2vw;
    margin-top: 1.4vw;
}
header div img {
    width: 100%;
}

/*  nav content styles */
nav#nav2 {
    flex: 1;
}
nav#nav2 ul {
    width: 260px;
    padding: 5px 5px;
    list-style: none;
    background-color: white;
    box-shadow: inset 0px 0px 1px #fff, 0  2px  7px rgba(0,0,0,0.5);
    
}
nav#nav2 ul li a {
    position: relative;
    display: inline-block;
    min-width: 190px;
    margin-top: 0.5vw;
    margin-left: 2vw;
    padding: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    color: #f1eee9;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2.5em;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: inset 0px 0px 1px #fff,  0  2px 7px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 1px #fff, 0  2px  7px rgba(0,0,0,0.5);
    
    border-radius:7px;
}
.father {
    background: #b1a082; /* Old browsers */
    background: -moz-linear-gradient(top,  #b1a082 0%, #8f8069 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1a082), color-stop(100%,#8f8069)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b1a082 0%,#8f8069 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b1a082 0%,#8f8069 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b1a082 0%,#8f8069 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #E70052 0%,red 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1a082', endColorstr='#8f8069',GradientType=0 ); /* IE6-9 */

    border: 1px solid #675b49;
}
.mother {
    background: #b1a082; /* Old browsers */
    background: -moz-linear-gradient(top,  #b1a082 0%, #8f8069 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1a082), color-stop(100%,#8f8069)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b1a082 0%,#8f8069 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b1a082 0%,#8f8069 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b1a082 0%,#8f8069 100%); /* IE10+ */
    background: linear-gradient(to bottom,  slateblue 0%,#03197B 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1a082', endColorstr='#8f8069',GradientType=0 ); /* IE6-9 */

    border: 1px solid #675b49;
}
nav#nav2 ul li a:hover {
    background: #c1af90; /* Old browsers */
    background: -moz-linear-gradient(top,  #c1af90 0%, #8f8069 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1af90), color-stop(100%,#8f8069)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c1af90 0%,#8f8069 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c1af90 0%,#8f8069 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c1af90 0%,#8f8069 100%); /* IE10+ */
    background: linear-gradient(to bottom,  slategrey 0%,white 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1af90', endColorstr='#8f8069',GradientType=0 ); /* IE6-9 */  
}
main {
    display: flex;
    box-shadow: inset 0px 0px 1px #fff, 0  2px  7px rgba(0,0,0,0.5);
    margin-top: 4vw;
}
article {
    margin-top: 1vw;
    margin-left: 3vw;
    margin-right: 5vw;
    margin-bottom: 1vw;
    padding: 20px 18px;
    border: 1px solid lightgrey;
    flex: 3;
    font-size: 20px;
}
article p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px;
}
footer ul {
    list-style: none;
    border: 2px solid lightgrey;
    display: flex;
    margin-top: 7vw;
}
footer li {
    flex: 1;
}
footer li img {
    float: right;
    width: 250px;
    margin-right: 15vw;
    margin-bottom: -0.5vw;
    height: 100px;
} 
@media (max-width:700px) {
div#aealogo {
    display: none;
}
div#banner {
    display: none;
}   
nav#nav2 {
    display: none;    
}
main {
    margin-top: 100px;    
 }
}
