#logo {
    display: none; 
}
#menu-bar {
    display: none; 
}
.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;
    transform: translateX(-100%)
}
.menu a {
    display: block;
    color: #fff;
    height: 20px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}
@media (max-width:700px) {
header {
    width: 100%;
    height: 50px;
    background: #333;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.container {
    width: 100%;
    display: table; 
}
#logo {
    background: #fff;
    display: inline-block;  
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0;
    padding-bottom: 9.5px;
    padding-top: 10px;
    width: 100px;
    height: 29px;
}
.submenu1:hover {
    background: #b1a082; /* Old browsers */
    background: -moz-linear-gradient(top,  #b1a082 0%, #8f8069 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1a082), color-stop(100%,#8f8069)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b1a082 0%,#8f8069 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b1a082 0%,#8f8069 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b1a082 0%,#8f8069 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #E70052 0%,red 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1a082', endColorstr='#8f8069',GradientType=0 ); /* IE6-9 */   
    border-left: 5px solid blue;
}
.submenu2:hover {
    background: #b1a082; /* Old browsers */
    background: -moz-linear-gradient(top,  #b1a082 0%, #8f8069 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1a082), color-stop(100%,#8f8069)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b1a082 0%,#8f8069 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b1a082 0%,#8f8069 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b1a082 0%,#8f8069 100%); /* IE10+ */
    background: linear-gradient(to bottom,  slateblue 0%,#03197B 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1a082', endColorstr='#8f8069',GradientType=0 ); /* IE6-9 */
    border-left: 5px solid red;
}
header label {
    color: #fff;
    float: right;    
    font-size: 35px;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 15px;
    cursor: pointer;
 }
}

@media (min-width:700px) {
.menu {
    display: none;
}
.menu a {
    display: none;
}
header label {
    display: none;    
 }
}
