@import url(http://fonts.googleapis.com/css?family=Tangerine);
body {
     margin: auto;
     padding: 40px;
     background-color: #FFF8DC;
     font-family: 'Tangerine', serif;
     font-size: 48px;
     text-shadow: 4px 4px 4px #aaa;
     border: 10px outset #808080;
}
body {
     background:#b0d2e4;
}
h1 {
   text-align: center;
   color: #435A90;
}
footer {
    text-align: center;
    margin-top: 50px;
}
footer a {
    display: inline;
    margin-right: 10px;
    width: 50px;
    padding: 1px;
    font-size: 9px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #007;
    background-color: #DDD;
    border: 1px solid black;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}
footer a strong {
    font-weight: bold;
    color: #FFF;
    background-color: #007;
    padding-left: 2px;
    margin-right: 5px;
}
footer a:hover {
    color: #FFF;
    background-color: #007;
}
footer a:hover strong {
    color: #007;
    background-color: #DDD;
}