[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
@import url('https://fonts.googleapis.com/css?family=Nosifer');
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

.slide_show {
    margin-top: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    -webkit-animation-name: desapear;
    animation-name: desapear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.image:nth-child(1) {
    -webkit-animation-name: desapear-1;
    animation-name: desapear-1;
    z-index: 5;
}
.image:nth-child(2) {
    -webkit-animation-name: desapear-2;
    animation-name: desapear-2;
    z-index: 4;
}
.image:nth-child(3) {
    -webkit-animation-name: desapear-3;
    animation-name: desapear-3;
    z-index: 3;
}
.image:nth-child(4) {
    -webkit-animation-name: desapear-4;
    animation-name: desapear-4;
    z-index: 2;
}
/*.image:nth-child(5) {
    -webkit-animation-name: desapear-5;
    animation-name: desapear-5;
    z-index: 1;
}*/

@-webkit-keyframes desapear-1 {  
0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
1.50% {
    opacity: 1;
}
25.40% {
    opacity: 1;
}
30.50% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
}
98.40% {
    opacity: 0;
    -webkit-transform: scale(1.21176);
    transform: scale(1.21176);
}
100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
100% {
    opacity: 1;
 }
}
@-webkit-keyframes desapear-2 {  
25.40% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
30.50% {
    opacity: 1;
}
50.40% {
    opacity: 1;
}
98.40% {
    opacity: 0;
    -webkit-transform: scale(1.21176);
    transform: scale(1.21176);
}
55.50% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
}
100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
 }
}
@-webkit-keyframes desapear-3 {  
50.40% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
55.50% {
    opacity: 1;
}
75.40% {
    opacity: 1;
}
80.50% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
}
100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
 }
}
@-webkit-keyframes desapear-4 {  
75.40% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
80.50% {
    opacity: 1;
}
98.40% {
    opacity: 1;
}
100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
 }
}
/*@-webkit-keyframes 
desapear-5 {  
80.50% {
    opacity: 1;
}
98.40% {
    opacity: 1;
}
100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
 }
}*/
