section#banner {
    margin-top: 50px;   
    position: relative;
}
section#banner img {
    width: 100%;
    height: 100%;
}
section#banner img.carolyn {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 77%;
    border-radius: ;
    border: 7px solid ghostwhite;
    height: 24vw;
    position: absolute;
    width: 23vw;
    z-index: 7;
}
section#banner .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}
section#banner h2 {
    color: white;
    text-shadow: 4px 4px #000;
    font-size: 30px;
}
section#banner a {
    display: block;
    width: 120px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}
section#banner a:hover {
    background: rgba(51,51,51,0.6);
}

@media (min-width:480px) {
section#banner h2 {
    font-size: 40px;    
}
section#banner a {
    margin-top: 25px;
}
}

@media (min-width:768px) {
section#banner {
    height: 300px;
    overflow: hidden;
}    
section#banner img {
    height: auto;
    margin-top: -200px;
}
}

@media (min-width:1024px) {    
section#banner img {
    margin-top: -250px;
}
}
