#blog h3, h4 {
    text-align: center;   
}
#blog .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#blog article {
    margin: 15px;
}
#blog img {
    width: 100%;
    max-width: 280px;
    height: 200px;
}
