section.cds {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
section.cds .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section .cd {
    margin: 20px;    
}
section .cd img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
    transition: all 0.4s ease;
}
section .cd img:hover {
    transform: scale(1) rotate(360deg);    
}
@media (min-width:480px) {
section .cd {
    width: 40%;    
}    
}
@media (min-width:1024px) {
section .cd {
    width: auto;    
}
}
