section#info {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
}
article .left {
    float: left;
    color: white;
    width: 49%;
    z-index: 6;
    border-radius: 20px;
    height: auto;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    background-color: rgba(0,0,0, 0.8);
    padding: 10px;

}
article .right{
    color: white;
    float: right;
    width: 49%;
    z-index: 6;
    border-radius: 20px;
    height: auto;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    background-color: rgba(0,0,0, 0.8);
    padding: 10px;
}
