/* flex Galleries */
.gallery {
    background-color: rgba(0,0,0, .8);
    max-width: 1400px;
    margin: 40px auto 0 auto;
}
.videobackg {
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #222222;
    flex-basis: 30%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px;
}
.videobackg video {
    border-radius: 12px;
    padding-top: 0;
    width: 100%;
}
.videobackg p {
    color: white;
    font-family: helvetica, arial, sans-serif;
    line-height: 24px;
    margin-bottom: 20px;
}

@media (min-width: 900px){
.gallery {
    display: flex;
    justify-content: space-around;
 }
}
