/*HEADER CSS By Victor M Juarez*/
header {
    height: 200px;
    margin-top: 0;
    width: 100%; 
}
header img {
    border-radius: 50%;
    border: 7px solid ghostwhite;
    height: 200px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

/*HEADER SLIDESHOW*/
header .slideshow {
    height: 200px; 
    top: 0;
    width: 100%;
}
header .slideshow li span { 
    animation: ImageAnimation 36s linear infinite 0s;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    color: transparent;
    height: 200px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0; 
}
header .slideshow li {
    list-style: none;
}
header .slideshow li div { 
    animation: TitleAnimation 36s linear infinite 0s;
    color: ghostwhite;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 90%;
    z-index: 0; 
}
header .slideshow li div h2 { 
    font-family: helvetica, arial, sans-serif;  
    font-size: 50px;
    line-height: 350px; 
}

/*BACKGROUND IMAGES*/
header .slideshow li:nth-child(1) span { 
    background-image: url(media/1.jpg) 
}
header .slideshow li:nth-child(2) span { 
    animation-delay: 6s;
    background-image: url(media/2.jpg); 
}
header .slideshow li:nth-child(3) span { 
    animation-delay: 12s;
    background-image: url(media/3.jpg); 
}
header .slideshow li:nth-child(4) span { 
    animation-delay: 18s;
    background-image: url(media/img4.jpg); 
}
header .slideshow li:nth-child(5) span { 
    animation-delay: 24s;
    background-image: url(media/img5.jpg); 
}
header .slideshow li:nth-child(6) span { 
    animation-delay: 30s;
    background-image: url(media/img6.jpg); 
}

header .slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
header .slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
header .slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
header .slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
header .slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}

/*IMAGE ANIMATION*/
@keyframes ImageAnimation { 
0% { 
    opacity: 0; animation-timing-function: ease-in; 
 }
8% { 
    opacity: 1; animation-timing-function: ease-out; 
 }
17% { 
    opacity: 1;
 }
25% { 
    opacity: 0;
 }
100% { 
    opacity: 0;
 }
}

/*TITLE ANIMATION*/
@keyframes TitleAnimation { 
0% {
    opacity: 0;
    transform: translateY(50px);
 }
8% {
    opacity: 1;
    transform: translateY(0px);
 }
17% {
    opacity: 1;
    transform: scale(0.5);
 }
19% { 
    opacity: 0;
 }
25% {
    opacity: 0;
    transform: scale(1);
 }
100% { 
    opacity: 0;
 }
}

/*For browsers that don't support animations*/
/*It shows the last slideshow image as background of the page without animation*/
.no-cssanimations header .slideshow li span{
    opacity: 1;
}

/*MEDIAQUERIES*/
@media screen and (max-width: 1140px) { 
header .slideshow li div h2 { 
    font-size: 140px;
 }
}

@media all and (max-width : 768px) {
header img { 
  display: none;
 }
header {
    height: 80px;    
}
header .slideshow li span {
    height: 80px;
    margin-left: 0;
    width: 100%;
 }
header .slideshow li div h2 { 
    font-size: 30px;
    line-height: 100px; 
 }
} 
