p { 
    text-align: center; 
 }
.toggle, [id^=drop] {
    display: none;
}
nav {
    background-color: gray;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}
#name1 {
    background: gray;
    color: white;
    display: block;
    font-size: 20px;
    float: left;
    padding: 2px 30px;
    position: relative;
}
#name1 em {
    font-size: 15px;
}
nav:after {
    content: "";
    clear: both;
    display: table;
}
nav ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
nav ul li {
    background-color: #254441;
    display: inline-block;
    float: left;
    margin: 0px;
}
nav a {
    color: #fff;
    display: block;
    font-size: 20px;
    line-height: 50px;
    padding: 0 20px;
    text-decoration: none;
}
nav ul li ul li:hover { 
    background: #000000; 
}
nav a:hover { 
    background-color: #000000; 
}
nav ul ul {
    display: none;
    position: absolute;
    top: 50px;
}
nav ul li:hover > ul { 
    display: inherit; 
}
nav ul ul *{
    margin: 0;
    padding: 0;
}

@font-face {
        font-family: 'flexslider-icon';
            font-weight: normal;
                font-style: normal;
                    src: url('fonts/flexslider-icon.eot');
                        src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') 
                            format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
}
.flexslider {
        height: 500px;
            position: relative;
                width: 100%;
}
.slides {
        overflow: hidden;
}
.slides img {
        height: 500px;
            width: 100%;
}
.slides, .flex-control-nav, .flex-direction-nav {
        list-style: none;
            margin: 0;
                padding: 0;
}
.flex-control-nav {
        bottom: 5%;
            position: absolute;
                text-align: center;
                    width: 100%;
                        z-index: 9;
}
.flex-control-nav li {
        display: inline-block;
            margin: 0 6px;
}
.flex-control-nav li a {
        background: #777777;
            border-radius: 12px;
                display: block;
                    height: 12px;
                        text-indent: -9999px;
                            width: 12px;
}
.flex-control-nav li a:hover {
        background: #2E2E2E;
}
.flex-control-nav li a.flex-active {
        background: #2E2E2E;    
}
.flex-direction-nav a {
        display: block;
            height: 40px;
                overflow: hidden;
                    opacity: 0;
                        position: absolute;
                            text-decoration: none;
                                top: 50%;
                                    width: 40px;
                                        z-index: 9;
                                        
                                            -webkit-transition: all 0.3s ease-in-out;
                                                -moz-transition: all 0.3s ease-in-out;
                                                    -ms-transition: all 0.3s ease-in-out;
                                                        -o-transition: all 0.3s ease-in-out;
                                                            transition: all 0.3s ease-in-out;
}
.flex-direction-nav .flex-prev {
        left: 0;
}
.flex-direction-nav .flex-next {
        right: 0;
}
.flex-direction-nav a:before {
        content: '\f001';
            color: #fff;
                display: inline-block;
                    font-family: "flexslider-icon";
                        font-size: 40px;
                            text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
        content: '\f002';
}
.flex-caption p {
        color: #fff;
            font-family: Lato;
                font-size: 40px;
                    font-weight: bold;
                        position: absolute;
                            top: 50%;
                                text-align: center;
                                    width: 100%;
}
.flexslider:hover .flex-direction-nav .flex-prev {
        left: 10px;
            opacity: 0.7;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
        opacity: 1;
} 
.flexslider:hover .flex-direction-nav .flex-next {
        opacity: 0.7;
            right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
        opacity: 1;
}
@media screen and (max-width: 768px) {
    .flexslider {
            height: 200px;
                width: 100%;
                 }
                 .slides img {
                         height: 200px;
                             width: 100%;
                              }
}li {
    display: list-item;
    float: none;
    position: relative;
    width: 170px;
}
nav ul ul ul li {
    left: 170px;
    position: relative;
    top: -60px;
}
li > a:after { 
    content: ' +'; 
}
li > a:only-child:after { 
    content: ''; 
}


/*MEDIAQUERIES*/
@media all and (max-width : 768px) {
#name1 {
    display: none; 
 }
#name {
    background-color: #254441;
    color: white;
    display: block;
    float: right;
    height: 20px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 90%;
 }
#name em {
    float: right;
 }
.toggle:hover #name {
    background-color: #000;
 }
nav { 
    background-color: rgba(0,0,0, .10);
    margin: 0;
 }
nav ul {
    float: left;   
 }
.toggle + a, .menu { 
    display: none; 
 }
.toggle {
    border: none;
    background-color: #254441;
    color: #fff;
    display: block;
    font-size: 20px;
    line-height: 50px;
    padding: 0 15px;
    text-decoration: none;
 }
.toggle:hover { 
    background-color: #000000; 
 }
[id^=drop]:checked + ul { 
    display: block; 
 }
nav ul li {
    display: block;
    width: 100%;
 }
nav ul ul .toggle, nav ul ul a { 
    padding: 0 40px; 
 }
nav ul ul ul a { 
    padding: 0 80px; 
 }
nav a:hover, nav ul ul ul a { 
    background-color: #000000; 
 }
nav ul li ul li .toggle, nav ul ul a { 
    background-color: #212121; 
 }
nav ul ul {
    color: #ffffff;
    float: none;
    position: static;
 }
nav ul ul li:hover > ul, nav ul li:hover > ul { 
    display: none; 
 }
nav ul ul li {
    display: block;
    width: 100%;
 }
nav ul ul ul li { 
    position: static;

 }
}

@media all and (max-width : 330px) {
nav ul li {
    display: block;
    width: 94%;
 }
}
