body {
     margin: 40px;
     padding: 40px;
     background-color: #BE5;
     border: 2px dashed #573;
}  
h1, footer {
     text-align: center;
}
p, pre {
     margin-left: 15px;
}
.first {
     background-color: #FF9;
     border: 2px dotted #000;
}
.second {
      background-color: #CF9;
      border: 2px solid #880;
}
#first {
      color: #373;
}
#second {
      color: #040;
}
a:link, a:visited {
      font-weight: bold;
      color: #000;
      text-decoration: none;
}
a:hover, a:active {
       color: #FF0;
}
a:active {
       font-size: xx-large;
}
footer {
    text-align: center;
    margin-top: 50px;
}
footer a {
    display: inline;
    margin-right: 10px;
    width: 50px;
    padding: 1px;
    font-size: 9px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #007;
    background-color: #DDD;
    border: 1px solid black;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}
footer a strong {
    font-weight: bold;
    color: #FFF;
    background-color: #007;
    padding-left: 2px;
    margin-right: 5px;
}
footer a:hover {
    color: #FFF;
    background-color: #007;
}
footer a:hover strong {
    color: #007;
    background-color: #DDD;
}