body {
    background-color: #fff8dc;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
div {
    width: 500px;
    height: 200px;
    background-color: #F70;
}
div#box2 {
margin: 50px;
    padding: 50px;
    border: 10px solid #000;
}
hr {
    margin-left: 0;
    background-color: #000;
    height: 8px;
}
p {
    text-align: center;
}
.line1 {
        width: 500px;
}
.line2 {
        width: 720px;
}
footer {
    text-align: center;
    margin-top: 60px;
    font-size: .9em;
}
footer a {
    border: 1px solid #777;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    margin-right: 10px;
    background-color: #FFF;
}
footer a, footer a:visited {
    text-decoration: none;
    color: #00A;
}
footer a > strong {
    background-color: #55C;
    color: #FFF;
    padding: 2px;
    padding-left: 4px;
    margin-right: 2px;
}