@import url(http://fonts.googleapis.com/css?family=Tangerine);
body {
    margin: 40px;
    padding: 40px;
    background-color: #FFF8DC;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    border: 20px outset #808080;
    background-image: none;
    background-size: cover;
    background-position: left;
}
h1 {
    text-align: center;
    color: #ff8c50;
}
p.elmaster {
    text-align: center;
}
img {
    padding: 5px;
    border: 5px dotted #b70;
    height: 500px;
}
h2 {
    color: #8B4513;
}
a, a:visited {
    color: #000000;
    text-decoration: none;
}
a:link {
    color: black; text-decoration: none
}
a:visited {
    color: gray; text-decoration: none
}
a:active {
    text-decoration: none;
}
a:hover {
    color: blue; text-decoration: underline;
}
@media screen and (max-with: 600px) {
body {
    margin-left; 8px;
    margin-right: 8px;
}
h1 {
    font-size: 20px;
}
p img {
    width: 100%;
}
ul li a {
    font-size 10px;    
}
}
footer {
    text-align: center;
    margin-top: 50px;
}
footer a {
    display: inline;
    margin-right: 10px;
    width: 50px;
    padding: 1px;
    font-size: 9px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #007;
    background-color: #DDD;
    border: 1px solid black;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}
footer a strong {
    font-weight: bold;
    color: #FFF;
    background-color: #007;
    padding-left: 2px;
    margin-right: 5px;
}
footer a:hover {
    color: #FFF;
    background-color: #007;
}
footer a:hover strong {
    color: #007;
    background-color: #DDD;
}
