body {
     background-color: #FFE4C4;
     margin: 40px;
}
main {
     background-color: #FFF8DC;
     padding: 20px;
}
h1 {
   text-align: center;
   color: #000;
}
p.victor {
   text-align: center;
}
b {
   color: #3300ff;
}
.first {
     color: green;
     background-color: #ffcccc;
     border: 2px solid black;
}
.second {
      color: red;
      background-color: #cf9;
      border: 2px solid #880;
}
.third {
      color: blue;
      background-color: #ccffcc;
      border: 2px solid #CC66FF;
}
#first {
      color: #990066;
      background-color: #ffffff;
      border: 2px solid gray;
}
h1, footer {
     text-align: center;
}
footer {
      margin-top: 20px;
}
footer {
   text-align: center;
   color: #000;
}
a:link, a:visited {
      color: #000;
      text-decoration: none;
}
b {
      color: #800000;
}   
strong {
      color: #D2691E;
}