body {
     background-color: #fff8dc;
}
h1 {
    text-align: center;
}
div#box1 {
    margin: 40px;
    padding: 40px;
    border: 10px solid #000;
    background-color: #F0F;
}
div#box2 {
    margin: 40px;
    padding: 40px;
    border: 10px dotted #000;
    background-color: #FF0;
}
div#box3 {
    margin: 40px;
    padding: 40px;
    border: 10px dashed #000;
    background-color: #33FFFF;
}
footer {
    text-align: center;
    margin-top: 60px;
    font-size: .9em;
}
footer a {
    border: 1px solid #777;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    margin-right: 10px;
    background-color: #FFF;
}
footer a, footer a:visited {
    text-decoration: none;
    color: #00A;
}
footer a > strong {
    background-color: #55C;
    color: #FFF;
    padding: 2px;
    padding-left: 4px;
    margin-right: 2px;
}