body {
        background-color: #fff8dc;
        margin: 25px;
        padding: 10px;
        border: 1px dotted #BBB;
}
.first {
        text-decoration: line-through;
}
h1, footer {
        text-align: center;
}
footer a, footer a:visited {
        color: #A50;
        text-decoration: none;
        padding: 10px;
        border: 1px dashed #000;
}
