body {
    margin: 50px;
    background-color: #E6E6FA;
}
header h1 {
    text-align: center;
    color: #8B008B;
}
a, a:visited {
    text-decoration: none;
}
nav {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 40px;
}
nav a, nav a:visited {
    padding: 10px;
    border: 1px dotted #777;
    color: #4B0082;
    background-color: #FFF;
    font-weight: bold;
}
section {
    background-color: #F6F6FA;
    margin-top: 30px;
    padding-left: 30px;
    border: 1px solid #444;
    border-radius: 25px;
}
section h2 {
    margin-left: -15px;
    font-size: 2.2em;
    color: #6A5ACD;
}
section h3 {
    color: #540093;
}
footer {
    text-align: center;
    margin-top: 40px;
    font-size: .9em;
}
footer a {
    border: 1px solid #777;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    margin-right: 10px;
    background-color: #FFF;
}
a > strong {
    background-color: #9932CC;
    color: #FFF;
    padding: 2px;
    padding-left: 4px;
    margin-right: 2px;
}