header {
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.9);
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.container {
    width: 98%;
    margin: auto;
}
h5 {
    margin: 2px 0;
    float: left; 
    font-size: 20px;
}
header .container {
    display: table;    
}
#menu-bar {
    display: none; 
}
header label {
    float: right;    
    font-size: 28px;
    margin: 2px 0;
    cursor: pointer;
}
.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    transition: all 0.5s;
    transform: translateX(-100%)
}
.menu a {
    display: block;
    color: gray;
    height: 20px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.menu a:hover {
    background: rgba(255,255,255,0.1);   
    color: white;
}
#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}
@media (min-width:1024px) {
.menu {
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex;
}
.menu a {
    border: none;    
}
header label {
    display: none;    
}
}

