footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.copy {
    font-size: 20px;    
    margin-top: auto;
    margin-bottom: auto;
}
.social {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;    
    text-align: center;
    font-size: 28px;
}
.social a {
    color: #333;
    text-decoration: none;    
}
@media (min-width:768px) {
.social {
    width: auto;
}
footer .container {
    justify-content: space-between;

}
}
@media (min-width:1024px) {
.container {
    width: 1000px;    
}    
}
