#menus h3, h4 {
    text-align: center;   
}
#menus .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#menus article {
    margin: 15px;
}
#menus img {
    width: 100%;
    max-width: 300px;
    height: 200px;
}

